AIRFLOW__TRACES__OTEL_ON=True
AIRFLOW__COMMON_AI__OTEL_EXPORT_ENABLED=True
AIRFLOW__COMMON_AI__CAPTURE_CONTENT=True
OTEL_TRACES_EXPORTER=otlp_proto_http
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4318/v1/traces
OTEL_SERVICE_NAME=orchestrate-everything-patterns

OPENAI_API_KEY=<add your own key or configure the pydantic AI connection below to use a different model provider and credential + change the extra in requirements.txt>

AIRFLOW_CONN_PYDANTICAI_DEFAULT={"conn_type": "pydanticai", "extra": {"model": "openai:gpt-5-mini"}}
AIRFLOW_CONN_DUCKDB_DEFAULT={"conn_type": "duckdb","host": "/usr/local/airflow/include/cosmarket.duckdb"}